#navbar{
  background-color: black;
}
.answers{
  margin-top: 10%;
}
.container{
width: 30%;
display: inline-block;
border: solid #015367 1px;
margin-left: 2%;
margin-bottom: 2%;
  .word{
    color:#60B9CE;
  }
  .score{
    color:black;
  }
}
